.App {
  padding: 9px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
  margin: 0;
}

.App-body {
  display: flex;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > nav > a {
  text-decoration: none;
  color: gray;
}

.navegacion {
  margin-bottom: 6px;
}

.sidebar {
  width: 256px;
  display: flex;
  flex-direction: column;
}

.minSidebar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 80vh;
}

.piePagina {
  padding-top: 6px;
}

li > a {
  padding: 3px;
}

.h-full{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dashboard {
  display: flex;
  height: inherit;
  margin-left: 3px;
}

.spArrow::before {
  border-width: 1px 0px 0px 1px;
  border: '1px solid';
}

.carTest1 {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 18px;
}

#alertF.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*Ribbon*/
[class^=ribbon-] {
  position: relative;
}
[class^=ribbon-]:before, [class^=ribbon-]:after {
  content: "";
  position: absolute;
}

.ribbon-1 {
  width: 150px;
  height: 40px;
  left: -8px;
}
.ribbon-1:before {
  height: 0;
  width: 0;
  border-bottom: 8px solid #434c59;
  border-left: 8px solid transparent ;
  top: -8px;
}
.ribbon-1:after {
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #374151;
  right: -15px;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left {
  left: 0px;
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.openMenuCpanel {
  -webkit-animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  	        animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.closeMenuCpanel {
  -webkit-animation: scale-down-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: scale-down-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.expandirSvg {
  -webkit-animation: scale-down-hor-left2 0 cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-hor-left2 0.5 cubic-bezier(0.250, 0.460, 0.450, 0.940) 0 reverse;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-29 9:28:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-hor-left2 {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-down-hor-left2 {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2022-8-28 16:6:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right drawer
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-28 18:30:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left menu izquierda
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2022-8-28 18:31:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-hor-left menu izquierda
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-hor-left {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-down-hor-left {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}


/*scrollbar*/
* {
  scrollbar-width: thin;
  scrollbar-color: #1f2937 white;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2937;
}
